h1(style="margin-top: 0;") Items
  a.btn.btn-default.pull-right(ui-sref="config.item({ item_id: 'new' })") Add Item
.clearfix

div(ng-repeat="category in categories")
  h3 {{ category.name }}
  table.table
    thead: tr
      th.col-xs-1 ID
      th.col-xs-7 Name
      th.col-xs-3 Price
      th.col-xs-2 &nbsp;
    tbody: tr(ng-repeat="item in category.items")
      td {{ item.id }}
      td {{ item.name }}
      td {{ item.price|currency:"£" }}
      td
        .btn-group.pull-right
          a.btn.btn-default.btn-xs(ui-sref="config.item({ item_id: {{ item.id }} })"): i.fa.fa-edit.fa-fw
          a.btn.btn-danger.btn-xs(ng-click="remove(item)"): i.fa.fa-times.fa-fw