form.form-horizontal
  .form-group
    label.control-label.col-md-3 Name
    .col-md-9: input.form-control(ng-model="item.name" type="text")
  .form-group
    label.control-label.col-md-3 Description
    .col-md-9: textarea.form-control(ng-model="item.description")
  .form-group
    label.control-label.col-md-3 Price
    .col-md-9: input.form-control(ng-model="item.price" type="number")
  .form-group
    label.control-label.col-md-3 Category
    .col-md-9: select.form-control(ng-model="item.category_id" ng-options="cat.id as cat.name for cat in categories")
  
  .form-group(ng-repeat="modifier in modifiers")
    label.control-label.col-md-3(ng-if="$first") Modifiers
    .col-md-9(ng-class="{ 'col-md-offset-3': !$first }"): .checkbox
      label {{ modifier.name }}
      button.btn.btn-danger.btn-xs.pull-right(ng-click="removeModifier(modifier)"): i.fa.fa-fw.fa-times
  .form-group
    label.control-label.col-md-3 Add Modifier
    .col-md-9
      select.form-control(ng-model="selectedModifier" ng-options="modifier as modifier.name for modifier in allModifiers" ng-change="addModifier(selectedModifier)")

  .form-group
    .col-md-9.col-md-offset-3: button.btn.btn-success(ng-click="save()") Save