//- .btn-group
//- 	button.btn.btn-default Today
//- 	button.btn.btn-default This Week
//- 	button.btn.btn-default This Month
//- .btn-group
//- 	button.btn.btn-default Last Week
//- 	button.btn.btn-default Last Month

#datepicker
	.range-start(style="width: 220px; display: inline-block;")
	.range-end(style="width: 220px; display: inline-block;")

//-.input-group.input-daterange
	input#datepickerStart.form-control(type="text" ng-ssmodel="dates.start" value="03/01/2015" ng-change="refreshData()")
	input#datepickerEnd.form-control(type="text" ng-ssmodel="dates.end" value="01/01/2015" ng-change="refreshData()")