include reports.dates.jade

br

.alert.alert-danger(ng-if="unclearedTables > 0") Tables which haven't been cleared are&nbsp;
	strong not included in the bill report!
	br
	span Clearing tables the next day will also produce incorrect reports for that day.

h1 Bills Report

h3 Total: £{{ total }}

table.table.table-striped
	thead: tr
		th Date
		th Payment Method
		th Covers
		th Amount
	tbody
		tr(ng-repeat="bill in bills")
			td {{ bill.printed_atFormatted }}
			td {{ bill.payment_method.name }}
			td {{ bill.covers }}
			td £{{ bill.totalFormatted }}
		tr
			td &nbsp;
			td &nbsp;
			td &nbsp;
			td &nbsp;
		tr
			th(colspan="2") Total
			th {{ coversTotal }}
			th £{{ total }}