//- .btn-group
//- 	button.btn.btn-default Today
//- 	button.btn.btn-default This Week
//- 	button.btn.btn-default This Month
//- .btn-group
//- 	button.btn.btn-default Last Week
//- 	button.btn.btn-default Last Month

.input-group.input-daterange
	input.form-control(type="text" ng-model="dates.start" ng-change="refreshData()")
	span.input-group-addon to
	input.form-control(type="text" ng-model="dates.end" ng-change="refreshData()")