<!DOCTYPE html>
<html ng-app="orderchef">
  <head>
    <base href="/site/tests/">
    <link rel="stylesheet" href="/assets/components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/site.css">
    <title>Config Order Types</title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a href="index.html">Tables</a></li>
          <li><a href="categories.html">Categories</a></li>
          <li><a href="items.html">Items</a></li>
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Config<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="config.table-types.html">Table Types</a></li>
              <li><a href="config.order-types.html">Order Types</a></li>
              <li><a href="config.modifiers.html">Modifiers</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Orders<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="orders-group.html">Orders (Group)</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div ng-controller="ConfigOrderTypesCtrl">
        <div ng-repeat="test in testResults track by $index" class="well test">
          <h1 ng-class="{ 'text-success': test.success, 'text-danger': !test.success }" ng-if="test.hasRun">{{ test.name }}</h1>
          <table ng-repeat="v in test.results track by $index" class="table">
            <thead>
              <th ng-repeat="(k, val) in v track by $index">{{ k }}</th>
            </thead>
            <tbody>
              <tr>
                <td ng-repeat="(k, val) in v track by $index">{{ val }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="/assets/components/jquery/dist/jquery.min.js"></script>
    <script src="/assets/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/assets/components/angular/angular.min.js"></script>
    <script src="/assets/components/async/lib/async.js"></script>
    <script src="/assets/js/controllers/testCtrl.js"></script>
    <script src="/assets/js/controllers/configOrderTypes.js"></script>
  </body>
</html>