mixin test(ctrl)
	div(ng-controller= ctrl)
		div(ng-repeat="test in testResults track by $index" style="max-height: 200px; overflow-y: scroll; margin-top: 20px;" class="well")
			h1(ng-class="{ 'text-success': test.success, 'text-danger': !test.success }" ng-if="test.hasRun" style="margin-top:0;") {{ test.name }}
			table.table(ng-repeat="v in test.results track by $index")
				thead: th(ng-repeat="(k, val) in v track by $index") {{ k }}
				tbody: tr: td(ng-repeat="(k, val) in v track by $index") {{ val }}

doctype
html(ng-app="orderchef")
	head
		block head
			link(rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css")
			//link(rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap-theme.min.css")

	body
		nav.navbar.navbar-default
			.container-fluid
				ul.nav.navbar-nav
					li: a(href="/") Tables
					li: a(href="/config.html") Config
		.container-fluid
			block content
		block afterbody
			script(src="/components/angular/angular.min.js")
			script(src="/components/async/lib/async.js")
			script(src="/js/controllers/testCtrl.js")