doctype
html(ng-app="orderchef")
	head
		block head
			link(rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css")
			//link(rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap-theme.min.css")

	body
		nav.navbar.navbar-default
			.container-fluid
				ul.nav.navbar-nav
					li: a(href="/") Tables
					li: a(href="/config.html") Config
		.container-fluid
			block content
		block afterbody
			script(src="/components/angular/angular.min.js")
			script(src="/components/async/lib/async.js")
			script(src="/js/controllers/app.js")