mixin test(ctrl)
	div(ng-controller= ctrl)
		.well.test(ng-repeat="test in testResults track by $index")
			h1(ng-class="{ 'text-success': test.success, 'text-danger': !test.success }" ng-if="test.hasRun") {{ test.name }}
			table.table(ng-repeat="v in test.results track by $index")
				thead: th(ng-repeat="(k, val) in v track by $index") {{ k }}
				tbody: tr: td(ng-repeat="(k, val) in v track by $index") {{ val }}

doctype
html(ng-app="orderchef")
	head
		base(href="/tests/")
		block head
			link(rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css")
			link(rel="stylesheet" href="/css/site.css")

	body
		nav.navbar.navbar-default
			.container-fluid
				ul.nav.navbar-nav
					li: a(href="index.html") Tables
					li: a(href="categories.html") Categories
					li: a(href="items.html") Items
					li.dropdown
						a.dropdown-toggle(href="#" data-toggle="dropdown") Config
							span.caret
						ul.dropdown-menu
							li: a(href="config.table-types.html") Table Types
					li.dropdown
						a.dropdown-toggle(href="#" data-toggle="dropdown") Orders
							span.caret
						ul.dropdown-menu
							li: a(href="orders-group.html") Orders (Group)

		.container-fluid
			block content
		block afterbody
			script(src="/components/jquery/dist/jquery.min.js")
			script(src="/components/bootstrap/dist/js/bootstrap.min.js")
			script(src="/components/angular/angular.min.js")
			script(src="/components/async/lib/async.js")
			script(src="/js/controllers/testCtrl.js")